.card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.headCard{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.headCard button{
    padding: 10px 70px;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: var(--light-text);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.headCard button:hover{
    background-color: rgb(66, 66, 196);
    transition: 0.2s;
}

.headCard button img{
    width: 16px;
}

.ordenarCard{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.orderOptions{
    padding: 10px;
    background-color: var(--dark-grey);
    color: var(--light-text);
}

#mainCard{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 190px));
    gap: 20px;
    margin-bottom: 50px;
}

.CardPokemon{
    min-width: 190px;
    max-height: 345px;
    min-height: 345px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px var(--light-grey); 
    z-index: 1;
}

.CardPokemon:hover{
    transform: scale(1.03);
    transition: 0.2s;
}

.CardPokemon img{
    width: 170px;
    background-color: white;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.infos{
    min-width: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.infos p, h1{
    width: 100%;
}

.infos p{
    font-size: 14px;
    font-weight: 200;
    color: var(--light-grey);
}

.infos h1{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark-grey);
}

.types{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    align-items: flex-start;
}

.types > span{
    padding: 3px;
    border: 1px solid var(--light-grey);
    border-radius: 2px;
}