:root{
<<<<<<< HEAD
  --dark-grey: #333333;
  --light-grey: #808080;
  --light-text: #e5e5e5;
  --medium-text: #939393;
  --yellow: #ffc94a;
  --blue: #2188fd;
  --red: #dc0a17;
  --green: #2FC022;
  
}

*{
  font-family: 'Gotham';
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'PocketMonk';
  src: url('assets/fonts/PocketMonk-15ze.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-light.woff2') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-book.woff2') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
}

  @font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham-black.woff2') format('truetype');
  font-weight: 900;
  font-style: normal;
}
=======
    --dark-grey: #333333;
    --light-grey: #808080;
    --light-text: #e5e5e5;
    --medium-text: #939393;
    --yellow: #ffc94a;
    --blue: #2188fd;
    --red: #dc0a17;
    --green: #2FC022;
    
}

*{
    font-family: 'Gotham';
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: 'PocketMonk';
    src: url('./assets/fonts/PocketMonk-15ze.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/gotham-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/gotham-book.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/gotham-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
    @font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/gotham-black.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

>>>>>>> initialComponents
